/*

	Name:       Winston datagrid module [0.4]
	Desc:       Basic styles for styling tabular data

*/

table.datagrid  {
	font-family: Arial, sans-serif;
	width: 100%;
	margin: 0 0 12px;
}

table.datagrid td,
table.datagrid th {
	padding: 6px 12px;
}

	table.datagridSmall td,
	table.datagridSmall th {
		padding: 6px;
		font-size: 11px;
	}

table.datagrid th {
	font-weight: 700;
	color: #000;
	line-height: 1.2;
	text-align: left;
}

table.datagrid tr.rowOdd { background: #FFF; }
table.datagrid tr.rowEven { background: #EEE; }

table.datagrid th {
	border: 1px solid #CCC;
	background: #F5F5F5;
}

table.datagrid td {
	border: 1px solid #CCC;
}