/*
    
	Name:       IE6 conditional comments for
	            Winston avatars module [0.4]
	Desc:       Styles for the avatars module

*/

.av24 .avOverlay { background: url(../images/av24_overlay.gif) no-repeat; }
.av48 .avOverlay { background: url(../images/av48_overlay.gif) no-repeat; }
.av96 .avOverlay { background: url(../images/av96_overlay.gif) no-repeat; }
.av128 .avOverlay { background: url(../images/av128_overlay.gif) no-repeat; }