a {
  text-decoration: none;
  border-width: 0 0 1px;
  border-style: solid; }
  a:link {
    color: #001e91;
    border-color: #6684f7; }
  a:visited {
    color: #00005e;
    border-color: #6666c4; }
  a:hover,
  a:focus,
  a:active {
    color: #3351c4;
    border-color: #99b7ff; }

.alt a:link {
  color: #b5121b;
  border-color: #ff7881; }
.alt a:visited {
  color: #820000;
  border-color: #e86666; }
.alt a:hover,
.alt a:focus,
.alt a:active {
  color: #e8454e;
  border-color: #ffabb4; }

.swapUnderlines a:link,
.swapUnderlines a:visited {
  border-color: transparent; }
.swapUnderlines a:hover,
.swapUnderlines a:active,
.swapUnderlines a:focus {
  border-color: #99b7ff; }

.alt .swapUnderlines a:link,
.alt .swapUnderlines a:visited,
.swapUnderlines .alt a:link,
.swapUnderlines .alt a:visited {
  border-color: transparent; }
.alt .swapUnderlines a:hover,
.alt .swapUnderlines a:active,
.alt .swapUnderlines a:focus,
.swapUnderlines .alt a:hover,
.swapUnderlines .alt a:active,
.swapUnderlines .alt a:focus {
  border-color: #ffabb4; }

.noUnderlines a:link,
.noUnderlines a:visited,
.noUnderlines a:hover,
.noUnderlines a:active,
.noUnderlines a:focus {
  border: none !important; }

.selected a {
  color: #00002b; }

.alt .selected a {
  color: #4f0000; }
