

.colLast {
  margin-right: 0 !important; }

.col-1 {
  width: 72px;
  display: inline;
  float: left;
  margin-right: 24px; }

.col-2 {
  width: 168px;
  display: inline;
  float: left;
  margin-right: 24px; }

.col-3 {
  width: 264px;
  display: inline;
  float: left;
  margin-right: 24px; }

.col-4 {
  width: 360px;
  display: inline;
  float: left;
  margin-right: 24px; }

.col-5 {
  width: 456px;
  display: inline;
  float: left;
  margin-right: 24px; }

.col-6 {
  width: 552px;
  display: inline;
  float: left;
  margin-right: 24px; }

.col-7 {
  width: 648px;
  display: inline;
  float: left;
  margin-right: 24px; }

.col-8 {
  width: 744px;
  display: inline;
  float: left;
  margin-right: 24px; }

.col-9 {
  width: 840px;
  display: inline;
  float: left;
  margin-right: 24px; }

.col-10 {
  width: 936px;
  display: inline;
  float: left;
  margin-right: 24px; }

.colsGrid {
  display: inline-block; }
  .colsGrid:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  .colsGrid {
    display: block; }

.cols {
  display: inline-block; }
  .cols:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  .cols {
    display: block; }

.col-1d2, .col-2d4 {
  width: 50%;
  display: inline;
  float: left;
  margin: 0; }

.col-2d3 {
  width: 66.66%;
  display: inline;
  float: left;
  margin: 0; }

.col-1d3 {
  width: 33.33%;
  display: inline;
  float: left;
  margin: 0; }

.col-1d4 {
  width: 25%;
  display: inline;
  float: left;
  margin: 0; }

.col-3d4 {
  width: 75%;
  display: inline;
  float: left;
  margin: 0; }

.col-1d5 {
  width: 20%;
  display: inline;
  float: left;
  margin: 0; }

.col-2d5 {
  width: 40%;
  display: inline;
  float: left;
  margin: 0; }

.col-3d5 {
  width: 60%;
  display: inline;
  float: left;
  margin: 0; }

.col-4d5 {
  width: 80%;
  display: inline;
  float: left;
  margin: 0; }

.cols .spacingLeft {
  margin-left: 24px; }
.cols .spacingLeftHalf {
  margin-left: 12px; }
.cols .spacingRight {
  margin-right: 24px; }
.cols .spacingRightHalf {
  margin-right: 12px; }
.cols .spacingBothHalf {
  margin-right: 12px;
  margin-left: 12px; }

img.alignleft {
  display: inline;
  float: left;
  padding: 0 24px 12px 0; }
img.alignright {
  display: inline;
  float: right;
  padding: 0 0 12px 24px; }

.centerHorizontallyWrap {
  width: 100%;
  overflow: hidden; }

.centerHorizontally {
  float: left;
  position: relative;
  left: 50%; }

.centerHorizontallyInner {
  position: relative;
  left: -50%; }

.centerVerticallyWrap {
  height: 100%;
  overflow: hidden; }

.centerVertically[class] {
  display: table;
  position: static; }

.centerVerticallyInner {
  display: table-cell;
  vertical-align: middle;
  position: static; }
