/*

	Name:       Winston buttons module [0.4]
	Desc:       Styles for the buttons component

*/

/* Clearfix */

.buttonHolder:after,
.buttonHolderRight:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Buttons */

a.button:link,
a.button:visited {
	height: 22px;
	line-height: 22px;
	border: none !important;
	white-space: nowrap;
	text-decoration: none;
	color: #287BC8 !important;
}

a.button:link span,
a.button:visited span {
	font-size: 11px;
	line-height: 22px;
	font-weight: 700;
}

a.button * {
	float: left;
	background-image: url(../images/buttonbg.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
	
	a.button:link span,
	a.button:visited span {
		background-position: center top;
	}

	a.button:hover span,
	a.button:active span,
	a.button:focus span {
		background-position: center -22px;
	}

	a.button:link b,
	a.button:visited b {
		background-position: 0 0;
	}

	a.button:hover b,
	a.button:active b,
	a.button:focus b {
		background-position: 0 -22px;
	}

	a.button:link i,
	a.button:visited i {
		background-position: top right;
	}

	a.button:hover i,
	a.button:active i,
	a.button:focus i {
		background-position: right -22px;
	}

/* Standard side width */
a.button b,
a.button i {
	width: 7px;
	text-indent: -9000px;
	display: block;
}

	/* Width with icon on the left side */
	a.buttonIconLeft b {
		width: 22px;
	}
	
		/* Add icon hooks here */

	/* Width with icon on the right side */
	a.buttonIconRight i {
		width: 22px;
	}
	
		/* Add icon hooks here */

/* Button positioning */

.buttonHolder .button {
	float: left;
	padding-right: 6px;
}
.buttonHolderRight .button {
	float: right;
	padding-left: 6px;
}