.colsGrid, .cols {
  zoom: 1; }

.col-2d3 {
  width: 66.5%; }

.col-1d3 {
  width: 33.2%; }

.centerHorizontallyInner .colsGrid, .centerHorizontallyInner .cols, .centerHorizontallyInner .col {
  float: left;
  position: relative; }

.centerVerticallyWrap {
  position: relative; }

.centerVertically[class] {
  position: absolute;
  top: 50%; }

.centerVerticallyInner {
  position: relative;
  top: -50%;
  float: left; }
