/*
	Docs specific
*/

#header {
	padding: 15px 0 40px;
}

#toc {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	border-right: 1px solid #CCC;
	overflow-y: auto;
	background: #333;
	color: #999;
}

	#toc div {
		padding: 30px;
	}
	
#container {
	width: 552px;
	padding: 40px 0;
	margin: 0 0 0 360px;
}

.example {
	padding: 24px 24px 8px;
	border: 1px solid #AAA;
	margin: 0 0 12px;
	position: relative;
	/* @inc .rc */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}
	.example .ex {
		text-transform: uppercase;
		font-family: "Consolas", Courier, monospace;
		position: absolute;
		top: 3px;
		left: 3px;
		font-size: 11px;
		color: #999;
	}

	iframe {
		border: 0;
	}
	
	h2, h3 {
		padding-top: 20px;
	}
	
	h2 + h3 {
		padding-top: 0;
	}
	
	#toc h4 {
		padding-top: 6px;
		text-transform: uppercase;
	}
	
	h2:target,
	h3:target {
		color: #FFF;
		background: #000;
	}
	
	h1 {
		font-size: 98px;
		letter-spacing: -5px;
		text-transform: uppercase;
		line-height: 1;
	}

		#header h1 + p {
			font-size: 11px;
			letter-spacing: 0;
			font-weight: 300;
			background: #333;
			padding: 2px 6px;
			line-height: 1;
			width: 417px;
			position: relative;
			bottom: 12px;
			left: 19px;
			color: #FFF;
			font-weight: 700;
			white-space: nowrap;
			/* @inc .rc */
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}

.id1 {
	padding-left: 24px;
}

#feedback {
	text-align: center;
}